@media (max-width:1200px) {
    .s3 .section-three ul {
        width: 45%;
    }
    .s4 .section-four form {
        width: 40%;
    }
}

@media (max-width:992px) {
    .slide h1 {
        top: -20%;
    }
}

@media (max-width:768px) {
    .s1 ul li {
        margin: 0 13px;
    }
    .s3 .section-three ul {
        width: 55%;
    }
    .s5 .footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s5 .footer-about {
        width: 90%;
    }
    .s5 .footer .footer-car ul {
        width: 90%;
    }
    .s5 .footer .footer-car {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .s1 ul li a {
        font-size: 14px;
    }
    .s2 .section-two h1 {
        font-size: 40px;
    }
    .s3 .section-three ul {
        width: 75%;
    }
    .s4 .section-four form {
        width: 60%;
    }
    .s4 .section-four h1 {
        font-size: 30px;
        margin-top: 40px;
    }
}

@media (max-width:576px) {
    .s2 .section-two ul {
        display: flex;
        justify-content: center;
    }
    .s2 .section-two ul li {
        width: 90%;
    }
    .s4 .section-four form {
        width: 70%;
    }
    .s5 .footer .footer-car ul li {
        width: 45%;
    }
}

@media (max-width:450px) {
    .s1 ul li {
        margin: 0 7px;
    }
    .s1 ul li a {
        font-size: 12px;
    }
    .slide h1 {
        font-size: 22px;
    }
    .s2 .section-two h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .s2 .section-two ul li a h4 {
        padding: 10px 0;
    }
    .s2 .section-two ul li a svg {
        font-size: 75px;
    }
    .s3 .section-three h1 {
        color: #fff;
        font-size: 25px;
        width: 100%;
        padding: 0 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    .s3 .section-three ul {
        display: flex;
        justify-content: center;
    }
    .s3 .section-three ul li {
        height: 140px;
        width: 65%;
    }
    .s3 .section-three ul li a img {
        width: 100%;
        height: 100%;
    }
    .s3 .section-three ul li a h4 {
        display: none;
    }
    .s5 .footer .footer-car ul li:nth-child(7),
    .s5 .footer .footer-car ul li:nth-child(8) {
        display: none;
    }
    .s5 .footer-about h3 {
        margin-bottom: 3px;
        color: var(--primaryColor);
    }
    .s5 .footer-about p {
        font-size: 12px;
    }
    .s5 .footer .footer-car h2 {
        margin-top: 10px;
        font-size: 14px;
        color: var(--primaryColor);
    }
    .copy-right p {
        font-size: 12px;
    }
}